
@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>
@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="submit" value="Upload" />
        @ViewBag.Message
        <asp:HyperLink NavigateUrl=@ViewBag.FHIRResUrl Text="超連結" /><br />
        FHIR result: <a href="@ViewBag.FHIRResUrl" target="_blank">@ViewBag.FHIRResUrl</a>
    </div>
}
